@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  font-variant: small-caps;
}
p{
  font-size: 16px;
  line-height: 19px;
  font-variant: small-caps;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Montserrat;
}
textarea {
  overflow-y: scroll;
}
select,
input,
textarea {
  resize: none;
  font-size: 16px;
  -webkit-appearance: none;
  border-bottom: 1px solid #a5abb3;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  background: none;
  text-transform: uppercase;
}
select:focus,
input:focus,
textarea:focus {
  outline: none !important;
  border-bottom: 1px solid #3f3630;
}
label {
  display: block;
  color: #3f3630;
  position: relative;
  left: 10px;
  margin-top: 1em;
  font-size: 12px;
  text-transform: uppercase;
}
label:first-child {
  margin-top: 0;
}
button {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-variant: small-caps;
  border-radius: 3px;
  color: #3f3630;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  color: #ffffff;
  position: relative;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #080a0e;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

input[type="file"] {
  z-index: 1;
  border: 2px dashed #DADEE3;
  box-sizing: border-box;
  cursor: pointer;
  color: transparent;
  position: relative;
  background: #F4F6F9;;
  padding: 1.5em 1em;
}
input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
  display: none;
}
input[type="file"]:hover,
input[type="file"]:active,
input[type="file"]:focus {
  border: 2px dashed #25cc62;
  box-sizing: border-box;
}
