$prymari:#3f3630;
$textBlack: #222222;
$background: #f6f1dc;
$backgrounditem: #a982ed;
$border: #c4c4c4;
$textGray: #b7b7b7;
$textWhite: white;

$phone: 480px;
$tablets: 768px;
$laptops: 1024px;
$desktop: 1200px;
$desktoplong: 1440px;
